.sticky-note{
    background: rgba(255,255,255,0.97);
    height: 300px;
}

.card-progress{
    float: right;
}

.card-header{
    padding: 20px 10px 10px 10px;
}

.card-header .form-control{
    display: inline;
    width: calc(100% - 45px);
    vertical-align: middle;
}

.card-header input{
    padding: 0 10px;
    font-size: 1.4em;
}

.sticky-note .card-body textarea{
    height: calc(100% - 155px);
}

.sticky-note input{
    text-overflow: ellipsis;
    border-color: transparent;
    background: transparent;
}

.sticky-note input:hover{
    border-color: #ced4da;
}

.sticky-note textarea{
    background: transparent;
    border-color: transparent;
    resize: none;
}

.sticky-note textarea:hover{
    border-color: #ced4da;
}

.sticky-note .ui-resizable-se{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15px;
    height: 15px;
    cursor: se-resize;
}

#js-whiteboard{
    position: absolute;
}

.btn-primary{
    color: #FFF !important;
}

.add-sticky-note{
    cursor: pointer;
    position: fixed;
    bottom: 5px;
    right: 5px;
}

body{
    overflow: auto;
}